@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'Ubuntu';
}

body {
    background-image: url('wall2.jpg'); /* Substitua 'seu-fundo.png' pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}

.search-input {
    background-color: #080808;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #fdd663;
    border-radius: 25px;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-family:'Ubuntu';
    color: #e3e3e3;
}

.search-input::placeholder {
    color: #a4a4a4;
}

.texto-resultado {
    background-color: #080808;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    max-height: 60vh; 
    overflow-y: auto;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    white-space: pre-wrap;
    border: 2px solid #fdd663;
    color: #e3e3e3;
}

.random-verse{
    background-color:#554b30;
    color: #feefc3;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #fdd663;
    border-radius: 25px;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-family:'Ubuntu';
}
.random-verse:hover{
    background-color:#7a6c45;
    transition: 0.4s;
    cursor: pointer;
}

.showDialog{
    background-color:#554b30;
    color: #feefc3;
    font-family:'Ubuntu';
    padding: 1em;
    margin: 1.5em;
    height: auto;
    width: auto;
    border-radius: 5%;
    border: 2px solid #fdd663;
    font-weight: bold;
    font-size: 1.06em;
}
.showDialog:hover{
    background-color:#7a6c45;
    transition: 0.4s;
    cursor: pointer;
    cursor: pointer;
}

.modal::backdrop{
    background-color:#080808; opacity: 0.45;
    opacity: 0.75;
}
.modal{
    font-family:'Ubuntu';
    font-size: 1.2em;
    height: 50%;
    width: 50%;
    background-color:rgb(255, 255, 255);
    border: 2px solid #fdd663;
    background-color:#080808; 
    color: #e3e3e3;
    font-weight: bold;
    border-radius: 1%;
}
.closeDialog{
    background-color:#554b30;
    color: #feefc3;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #fdd663;
    margin-top: 40px;
}
.closeDialog:hover{
    background-color:#7a6c45;
    transition: 0.4s;
    cursor: pointer;
}